<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="all.js"></script>
    <link rel="stylesheet" href="all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.0/css/bulma.min.css"
        integrity="sha256-D9M5yrVDqFlla7nlELDaYZIpXfFWDytQtiV+TaH6F1I=" crossorigin="anonymous" />
    <link rel="stylesheet" href="style.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="script.js"></script>
</head>

<body class="has-navbar-fixed-top">
    <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://www.itiszuccante.edu.it">
                <img src="https://i.imgur.com/NTBaBiL.png" width="32" height="32">
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBulma" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/">
                    Home <i class="fas fa-home"></i>
                </a>

                <a class="navbar-item" href="https://gitlab.com/fogliodicarta">
                    <img src="https://about.gitlab.com/images/press/logo/png/gitlab-logo-gray-stacked-rgb.png" alt="">
                    Account Gitlab
                </a>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Altro
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="https://bulma.io">
                            Bulma
                        </a>
                        <a class="navbar-item" href="https://expressjs.com">
                            Express
                        </a>
                        <a class="navbar-item" href="https://sequelize.org/">
                            Sequelize
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item" href="https://mariadb.org/">
                            MariaDB
                        </a>
                    </div>
                </div>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">

                </div>
            </div>
        </div>
    </nav>
    <div id="popupaggiungi" class="popup">
        <label for="nome">Nome:</label> <br/>
        <input type="text" name="nome" id="nome"><br/>
        <label for="cellulare">Cellulare:</label><br/>
        <input type="tel" id="cellulare" name="cellulare" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}"> <br/>
        <label for="casa">Casa:</label><br/>
        <input type="tel" id="casa" name="casa" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}"> <br/>
        <label for="lavoro">Lavoro:</label><br/>
        <input type="tel" id="lavoro" name="lavoro" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}"> <br/>
        <label for="fax">Fax:</label><br/>
        <input type="tel" id="fax" name="fax" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}"> <br/>
        <button id="annullapopupaggiungi">Annulla</button>
        <button id='salvapopup'>Salva</button>
    </div>
    <div id="popupedita" class="popup">
        <label for="nomeupdate">nomeupdate:</label> <br/>
        <input type="text" name="nomeupdate" id="nomeupdate"><br/>
        <label for="cellulareupdate">cellulareupdate:</label><br/>
        <input type="tel" id="cellulareupdate" name="cellulareupdate" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}"> <br/>
        <label for="casaupdate">casaupdate:</label><br/>
        <input type="tel" id="casaupdate" name="casaupdate" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}"> <br/>
        <label for="lavoroupdate">lavoroupdate:</label><br/>
        <input type="tel" id="lavoroupdate" name="lavoroupdate" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}"> <br/>
        <label for="faxupdate">faxupdate:</label><br/>
        <input type="tel" id="faxupdate" name="faxupdate" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}"> <br/>
        <button id="annullapopupupdate">Annulla</button>
        <button id='salvapopupupdate'>Salva</button>
    </div>
    
    <div id="lista">
        <% for(let i=0;i<lista.length;i++){ %>
            <div class="contatto">
                <div class="right">
                    <button id="delete<%= lista[i].id %>" class="delete is-large"></button>
                    <br/>
                    <i id="edita<%= lista[i].id %>" class="far fa-edit edita"></i>
                    
                </div>
                nome: 
                <div class="nomecognome">
                    <%= lista[i].name %>
                </div>
                <br/>
                    <% for(let j=0;j<lista[i].telephones.length;j++){ %>
                      <%= lista[i].telephones[j].type %> :
                      <div class="telefono"> <%= lista[i].telephones[j].telephone %>  </div>
                      <br/>
                    <% } %>
            </div>
        <% } %>
            
               
            
        
    </div>
    <div id="parentAggiungi" class="centerAll">
        <div id="aggiungi" class="plus">
        </div>
    </div>
   
</body>

</html>