nav{
    border: 2px solid #0087D3;
    border-radius: 20px;
}
#aggiungi{
    margin:0 auto;
}
#parentAggiungi{
    width: 100%;
}
.centerAll {
    height: 30vh;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.plus {
  display:inline-block;
  width:100px;
  height:100px;
  
  background:
    linear-gradient(#0087D3 ,#0087D3 ),
    linear-gradient(#0087D3 ,#0087D3 ),
    #F9036E ;
  background-position:center;
  background-size: 50% 10px,10px 50%; /*thickness = 2px, length = 50% (50px)*/
  background-repeat:no-repeat;
  border-radius: 50%;
}
.plus:hover{
    display:inline-block;
    width:100px;
    height:100px;
    
    background:
      linear-gradient( #F9036E  , #F9036E ),
      linear-gradient( #F9036E  , #F9036E  ),
      #0087D3;
    background-position:center;
    background-size: 50% 10px,10px 50%; /*thickness = 2px, length = 50% (50px)*/
    background-repeat:no-repeat;
    border-radius: 50%;
}
#lista{
    margin-top: 5px;
    border: 3px solid #0087D3;
    padding: 10px;
    font-size: xx-large;
    border-radius: 20px;
}
.nomecognome,.telefono{
    border: 2px solid #0087D3;
    margin:0px 4px;
    display: inline;
}
.contatto{
    border: 3px solid #F9036E;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
}
.right{
    float: right;
    padding: 10px;
}

.delete{
    background-color: #F9036E ;
    margin-bottom: 5px;
}
.edita{
    width: 32px;
    height: 32px;
    padding: 0px;
}
.fa-edit{
    font-size: xx-large;
    color:  #0087D3;
}
.popup{
    display: none;
    z-index: 9;
    position: fixed;
    width: 60vw;
    padding: 20px;
    margin: auto;
    margin-top: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #33b4ff;
    border-radius: 20px;
    border: 2px solid #F9036E;
}